@font-face {
    font-family: netflixbold;
    src: url(Assets/Fonts/netflix-sans-font/NetflixSans-Bold.otf);
}

@font-face {
    font-family: netflixlight;
    src: url(Assets/Fonts/netflix-sans-font/NetflixSans-Light.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: netflixlight;
}

body {
    background-color: black;
}

.main {
    background-image: url(Assets/Images/bg.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
    background-repeat: no-repeat;
}

.box {
    height: 70vh;
    width: 100%;
    opacity: 0.57;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 60vw;
    margin: auto;
    height: 62px;
    align-items: center;
}

.logo {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

.btn {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 62px);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 0 30px;
}

.boldtitle {
    font-family: netflixbold;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.watch {
    font-family: netflixlight;
    font-weight: 400;
    line-height: 55px;
    font-size: 24px;
    text-align: center;
}

.startmem {
    font-family: netflixlight;
    font-weight: 400;
    line-height: 65px;
    font-size: 20px;
    text-align: center;
}

.line {
    height: 11px;
    background-color: #232323;
}

.line2 {
    margin-top: 50px;
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
}

.btn:hover {
    background-color: #99161d;
}

.btn-red {
    background-color: red;
    color: white;
    outline: none;
    border: none;
    height: 7vh;
    padding: 3px 20px;
    font-size: 24px;
    line-height: 24px;
    font-family: netflixbold;
    font-weight: 500;
    border-radius: 4px;
    margin-left: 6px;
}

.mailbox {
    color: rgb(255, 255, 255);
    background-color: rgba(23, 23, 23, 0.5);
    outline: none;
    border: none;
    height: 6vh;
    padding: 3px 20px;
    opacity: 0.9;
    font-size: 24px;
    line-height: 24px;
    font-family: netflixlight;
    font-weight: 500;
    border-radius: 5px;
    outline-color: #5e5e5e;
    outline-style: solid;
}

.mailbox:hover {
    outline-color: #ffffff;
}

.red-btn-sm {
    background-color: red;
    color: white;
    border-radius: 3px;
    border: none;
    margin-left: 15px;
    position: relative;
    z-index: 10;
    width: 5vw;
    height: 4vh;
}

.langbtn {
    outline: none;
    border: 1px solid #5e5e5e;
    border-radius: 2px;
    background: transparent;
    color: white;
    padding: 3px 6px;
    position: relative;
    z-index: 10;
    width: 7vw;
}

.langbtn img {
    position: absolute;
    top: 20%;
    left: 2;
}

#languageselect {
    outline: none;
    border: none;
    border-radius: 2px;
    background: transparent;
    color: white;
    padding: 3px 20px;
    position: relative;
    font-weight: bold;
    width: 92px;
    z-index: 10;
    cursor: pointer;
}

.first {
    display: flex;
    align-items: center;
    justify-content: center;
}

.first>div {
    display: flex;
    flex-direction: column;
}

.firsttxt1 {
    color: white;
    font-family: netflixbold;
    font-size: 48px;
    font-weight: 900;
    padding-left: 180px;
}

.firsttxt2 {
    color: white;
    font-family: netflixlight;
    font-size: 24px;
    font-weight: -400;
    padding-left: 180px;

}

.secImg {
    position: relative;
}

.secImg img {
    width: 40vw;
    position: relative;
    z-index: 10;
    margin: 50px 0px 0px 0px;
}

.secImg1 img {
    width: 40vw;
    position: relative;
    z-index: 10;
    margin: 50px 0px 0px 0px;
}

.secImg video {
    position: absolute;
    top: 83px;
    right: 110px;
    width: 25vw;
}

.secImg1 video {
    position: absolute;
    top: 700px;
    right: 55px;
    width: 31vw;
}

.card {
    background-color: #000000;
    height: 120px;
    width: 350px;
    position: absolute;
    left: 150px;
    top: 1400px;
    border-radius: 6px;
    outline-color: #5a5a5a;
    outline-style: solid;
    z-index: 10;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgmovbn {
    position: absolute;
    left: 5px;
    height: 6rem;
    width: 4rem;
}

.downicon {
    position: absolute;
    right: 0;
    width: 80px;
}

.movname {
    right: 0;
    font-family: netflixbold;
    font-weight: 500;
    font-size: 24px;
}

.down {
    margin-right: 75px;
    color: #006de3;
    text-align: center;
    font-family: netflixlight;
    font-weight: 400;
    font: 24px;
}

.faq {
    font-family: netflixbold;
    color: white;
    background-color: #000;
    font-size: 48px;
    font-weight: 900;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 34px;
}

.faqsbox {
    transition: all 0.3s ease;
    display: flex;
    background-color: #2d2d2d;
    justify-content: space-between;
    padding: 24px;
    color: white;
    max-width: 70vw;
    font-family: netflixlight;
    font-size: 24px;
    cursor: pointer;
    margin-top: 8px;
    font-weight: 400;

}

.faqsbox:hover {
    background-color: #414141;
}

.secondin {
    color: white;
    margin-top: 55px;
    display: block;
}

.txt {
    padding-top: 5px;
    color: white;
    margin-top: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    font-family: netflixlight;
}

.secondin {
    color: white;
    margin-top: 15px;
    display: block;
}

footer {
    color: #999999;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: #999999;
}

@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

footer button {
    display: block;
    margin-top: 12px;
}

.end {
    margin-top: 9px;
}